<configuration>
    <property name="ENCODER_PATTERN"
              value="[%level] [%logger{0}:%line#%method] [%d{M.dd.yyyy hh:mm:ss.SSS}] [%thread] : %msg%n"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="reactor.netty" level="DEBUG" />

    <root level="debug">
        <appender-ref ref="stdout"/>
    </root>
</configuration>